.bod {
  background-color: #d3d3d3;
}

.title {
  font-family: 'Mochiy Pop P One', sans-serif;
  color: #ec5242;
}

.HeaderMobile {
  background-color: black;
}

.introMobile {
  background-color: black;
}

.description {
  font-family: 'Maven Pro', sans-serif !important;
  color: #ec5242 !important;
}

.border {
  border: 1px solid #ec5242;
  box-sizing: border-box;
}

.date {
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  color: #ec5242;
}

.stageMobile {
  background-color: #bbb;
}

.borderHr {
  height: 1px;
  width: 70px;
  color: #ec5242;
  background-color: #ec5242;
}

.StagesTitle {
  text-decoration: underline;
  text-decoration-color: #ec5242;
  text-decoration-thickness: 5px;
  font-family: 'Mochiy Pop P One', sans-serif;
  color: #ec5242;
}

.card {
  background-color: #bbb !important;
  height: 100px !important;
  border: 0 solid #ec5242 !important;
}

.buyTickets {
  background-color: #ec5242 !important;
  font-family: 'Mochiy Pop P One', sans-serif;
}

.font {
  font-family: 'Maven Pro', sans-serif;
}

.fontD {
  font-family: 'Maven Pro', sans-serif !important;
  color: #ec5242;
}

.artistSection {
  background-color: black;
}

img {
  max-width: 100%;
  height: auto;
}

.icon {
  font-size: 30px;
}

.email {
  text-decoration: underline;
  text-decoration-color: #ec5242;
}

.charityMobile {
  background-color: black;
}

.borderImg {
  border: 1px solid #ec5242;
  box-sizing: border-box;
}

.year2020 {
  background-image: url(Images/year2020.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.year2021 {
  background-image: url(Images/year2021.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.descriptionYear {
  font-family: 'Maven Pro', sans-serif;
  color: #ec5242;
  font-weight: bold;
}

.partnerSec {
  background-color: black;
}

.footerdesk {
  height: 100%;
  background-color: #272a31;
}

.titleFot {
  font-family: 'Mochiy Pop P One', sans-serif;
  color: black;
}

.introDesktop {
  background-image: url(Images/skrillex-club-sonar2015-c-advanced-music-arielmartini-4.jpg_604889389.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: black;
}

.stageDesktop {
  margin-bottom: 9000px !important;
}

.black {
  color: transparent;
}

@media (min-width: 768px) {
  .HeaderMobile {
    display: none;
  }

  .introMobile {
    display: none;
  }

  .artistSection {
    display: none;
  }

  .charityMobile {
    display: none;
  }

  .footermobile {
    display: none;
  }

  .partnerSec {
    display: none;
  }
}

@media (max-width: 768px) {
  .partnerSecDesktop {
    display: none;
  }

  .introD {
    display: none;
  }

  .charityD {
    display: none;
  }

  .footerDesktop {
    display: none;
  }

  .pastD {
    display: none;
  }

  .footerdesk {
    display: none;
  }

  .artistDesktop {
    display: none;
  }

  .stageDesktop {
    display: none;
  }

  .introDesktop {
    display: none;
  }

  .navDesktop {
    display: none;
  }
}

html,
body {
  overflow-x: hidden;
}

.mobileMen {
  list-style: none;
}

.mobileMenuInvis {
  display: none;
}

.mobileMenuVis {
  display: block;
}

.top-nav {
  display: flex;
  justify-content: flex-end;
  z-index: 999;
  margin: 0 auto;
  background-color: #272a31;
  padding: 0 20px;
  position: absolute;
  width: 100%;
  column-gap: 10px;
  height: 30px;
  align-items: center;
  list-style-type: none;
}

.link {
  color: white !important;
}

.top-nav .link:hover {
  text-decoration: underline;
}

.icon img {
  max-height: 20px;
  max-width: 20px;
}

.nav-bar {
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  z-index: 0;
  background-color: white;
  padding: 30px 20px 5px;
  overflow: hidden;
  box-shadow: 0 1px 7px #d3d3d3;
}

.navUl {
  display: flex;
  flex-direction: row;
  width: 60vw;
  padding: 0;
  height: 100%;
  position: relative;
  list-style: none;
  gap: 100px;
  justify-content: flex-end;
}

.footermobile {
  background-color: white;
}

.footerDesktop {
  background-color: #272a31;
}

.iconColor {
  color: #ec5242;
}
