body {
  background-color: black;
}

.title {
  font-family: 'Mochiy Pop P One', sans-serif;
  color: orange;
}

.HeaderMobile {
  background-color: black;
}

.introMobile {
  background-color: black;
}

.description {
  font-family: 'Maven Pro', sans-serif;
  color: orange;
}

.border {
  border: 1px solid orange;
  box-sizing: border-box;
}

.date {
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  color: orange;
}

.stageMobile {
  background-color: #bbbbbb;
}

.borderHr {
  height: 1px;
  width: 70px;
  color:orange;
  background-color: orange;
}

.StagesTitle {
  text-decoration: underline;
  text-decoration-color: orange ;
  text-decoration-thickness: 5px;
  font-family: 'Mochiy Pop P One', sans-serif;
  color: orange;
}

.card {
  background-color: #bbbbbb !important;
  height: 100px !important;
}

.buyTickets {
  background-color: orange !important;
  font-family: 'Mochiy Pop P One', sans-serif;
}

.font {
  font-family: 'Maven Pro', sans-serif;
}

.artistSection {
  background-color: black;
}

img {
  max-width: 100%;
  height: auto;
}

.icon {
  font-size: 30px;
}

.email {
  text-decoration: underline;
  text-decoration-color: orange;
}

.charityMobile {
  background-color: black;
}

.borderImg {
  border: 1px solid orange;
  box-sizing: border-box;
}

.year2020 {
  background-image: url(images/year2020.jpg);
  background-repeat: no-repeat;
  background-size: 100% 200px;
}

.year2021 {
  background-image: url(images/year2021.jpg);
  background-repeat: no-repeat;
  background-size: 100% 200px;
}

.descriptionYear {
  font-family: 'Maven Pro', sans-serif;
  color: orange;
  font-weight: bold
}

.partnerSec {
  background-color: black;
}

.titleFot {
  font-family: 'Mochiy Pop P One', sans-serif;
  color: black;
}